.notePage-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 1rem auto;
}
.display-notes-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.notes {
  /* padding: 1.5rem; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 0.4rem;
}
