.side-nav-container {
  padding: 1rem 2rem;
  margin-right: 2rem;
  height: 100vh;
  border-radius: 5px;
  flex-basis: 20%;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
}
.side-nav-list {
  padding: 1rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
