.light {
  background-color: var(--white-color);
  color: var(--black-color);
}
.dark {
  background-color: var(--black-color);
  color: var(--white-color);
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}
